.notas {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
    }

.notas article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.notas article pre {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    margin-left: 15px;
}

.botoes_funcao{
     float: right;
}

.botoes_navegacao {
    margin-bottom: 20px;
}

.botoes_navegacao #btAnterior{
    margin-right: 20px;
}



