header#main-header {
    max-width: 660px;
    margin: 20px auto 0;
    padding: 0 20px;
    height: 60px;
    background: #622fda;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}