.containerForm {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

 .containerForm .textField{
    margin: 20px auto 0;  
}

.containerForm .botaoAcao {
    margin-right: 10px ;
    margin-top: 10px;
    
}

.containerForm .rightIcon {
   margin-left: 10px; 
}

.divBotoes{
 float: right
}